@model ExamCore.Models.Option

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Question.Subject.Name" class="col-sm-3 col-form-label">Subject</label>
                        <div class="col-sm-9">
                            <select type="text" class="form-control" id="exampleInputEmail2" asp-for="Question.SubjectId" asp-items="@(new SelectList(ViewBag.ListOfSubject, "Id", "Name", "SubjectId"))"></select>
                            <span asp-validation-for="Question.Subject.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Question.Content" class="col-sm-3 col-form-label">Question</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Question" asp-for="Question.Id">
                            <span asp-validation-for="Question.Content" class="text-danger"></span>
                        </div>
                    </div>
                    @for (int i = 1; i < 5; i++)
                    {
                        <div class="form-group row">
                            <label asp-for="Content" class="col-sm-3 col-form-label">Option @i</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Option" asp-for="Content">
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="IsRight" class="col-sm-3 col-form-label">True/False</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="form-control" asp-for="IsRight"/>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <button type="submit" class="btn btn-success mr-2">Create</button>
                        <button asp-action="Index" class="btn btn-light">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

